body {
	font-size:12px;
	font-family:Monaco;
	background-color:rgb(252, 252, 252);
}

.cols {
	margin-top:20px;
}

.col {
	background-color:rgb(252, 252, 252);
	position:absolute;
	overflow:hidden;
	white-space:nowrap;
}

.title {
	font-size: 30px;
}

.auxText {
	position:absolute;
	right:0px;
	padding-right: 5px;
	background-color:#FFF;
}

a {
	color:#3498db;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.itemName {
	cursor:pointer;
}

.itemName:hover {
	text-decoration: underline;
}