body {
	overflow: hidden;
	color:#232323;
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	color:#232323;
	font-size: 11pt;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#editor { 
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#lcol {
	position:relative;
	background-color:rgb(252, 252, 252);
	float:left;
	margin:0;
	padding:0;
	width:250px;
	height:100%;
	overflow: hidden;
	overflow-y:scroll;
	border-top: 1px solid #232323;
}

#rcol {
	position:relative;
	float:left;
	margin:0;
	width:400px;
	height:100%;
	border-top: 1px solid #232323;
}

#separator {
	z-index:99;
	position:relative;
	background-color:rgb(252, 252, 252);
	float:left;
	padding:0;
	margin:0;
	width:6px;
	height:100%;
	cursor:ew-resize;
}